<div>
    <h2 id="page-heading">
        <span>Validation Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-validation-log" [routerLink]="['/validation-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Validation Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="validationLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateTime"><span>Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitude"><span>Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitude"><span>Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="success"><span>Success</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleted"><span>Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registryId"><span>Registry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let validationLog of validationLogs ;trackBy: trackId">
                <td><a [routerLink]="['/validation-log', validationLog.id, 'view' ]">{{validationLog.id}}</a></td>
                <td>{{validationLog.dateTime | date:'medium'}}</td>
                <td>{{validationLog.latitude}}</td>
                <td>{{validationLog.longitude}}</td>
                <td>{{validationLog.success}}</td>
                <td>{{validationLog.deleted}}</td>
                <td>
                    <div *ngIf="validationLog.registryId">
                        <a [routerLink]="['../registry', validationLog.registryId , 'view' ]" >{{validationLog.registryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/validation-log', validationLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/validation-log', validationLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'validation-log/'+ validationLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="validationLogs && validationLogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
