<div>
    <h2 id="page-heading">
        <span>Apps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app" [routerLink]="['/app/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new App
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="apps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span>Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlob"><span>Image Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activated"><span>Activated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleted"><span>Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subcategoryName"><span>Subcategory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let app of apps ;trackBy: trackId">
                <td><a [routerLink]="['/app', app.id, 'view' ]">{{app.id}}</a></td>
                <td>{{app.name}}</td>
                <td>{{app.description}}</td>
                <td>{{app.version}}</td>
                <td>
                    <a *ngIf="app.imageBlob" (click)="openFile(app.imageBlobContentType, app.imageBlob)">
                        <img [src]="'data:' + app.imageBlobContentType + ';base64,' + app.imageBlob" style="max-height: 30px;" alt="app image"/>
                    </a>
                    <span *ngIf="app.imageBlob">{{app.imageBlobContentType}}, {{byteSize(app.imageBlob)}}</span>
                </td>
                <td>{{app.image}}</td>
                <td>{{app.activated}}</td>
                <td>{{app.deleted}}</td>
                <td>
                    <div *ngIf="app.subcategoryId">
                        <a [routerLink]="['../subcategory', app.subcategoryId , 'view' ]" >{{app.subcategoryName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/app', app.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app', app.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'app/'+ app.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="apps && apps.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
